.service {
    margin-bottom: 522px;

    &__arrow-right {
        &::before {
            content: '';
            position: absolute;
            right: 38px;
            top: 10px;
            width: 18px;
            height: 2px;
            border-top: 2px solid black;
        }

        &::after {
            content: '';
            position: absolute;
            right: 40px;
            bottom: 16px;
            width: 12px;
            height: 12px;
            border-top: 2px solid black;
            border-right: 2px solid black;
            transform: rotate(45deg);
        }
    }

    &__arrow-down {
        &::before {
            content: '';
            position: absolute;
            right: 38px;
            top: 10px;
            width: 18px;
            height: 2px;
            border-top: 2px solid black;
            transform: rotate(90deg);
        }

        &::after {
            content: '';
            position: absolute;
            right: 39px;
            bottom: 14px;
            width: 12px;
            height: 12px;
            border-top: 2px solid black;
            border-right: 2px solid black;
            transform: rotate(135deg);
        }
    }
    
    &__paragraph {
        max-width: 471px;
        margin-top: 24px;
    }

    &__accordion {
        padding: 41px 0 0;
        max-width: 883px;
        background: var(--white-color);

        &-item:last-child {
            margin-bottom: 0;
        }

        &-number {
            margin-right: 40px;
        }

        &-header {
            margin-bottom: 35px;
        }
    }

    &__img {
        position: relative;
        float: right;
        margin-top: -160px;
        z-index: -1;
    }

    &__accordion-content {
        &.open {
            padding-left: 70px;
            padding-bottom: 35px;
        } 
    }
}

.bold {
    color: black;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
}
