.header {
    height: 133px;
    margin-bottom: 55px;

    &__container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__nav-list {
        display: flex;
        align-items: center;
        gap: 74px;
        margin-left: 320px;

        &-item:active {
            font-weight: 700;
        }
    }
}

