.header {
    height: 133px;
    margin-bottom: 55px;

    &__container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__btn {
        color: var(--white-color);
        background: var(--violet-color);
    }

    &__nav-list {
        display: flex;
        align-items: center;
        gap: 74px;
        margin-left: 320px;

        &-item {
            font-weight: 400;
        }

        &-item--active {
            font-weight: 700;
        }
    }
}

.nav-link.active {
    font-weight: 700;
}

